.login_page{
    background-color: black;
}

.login_btn{
    background-color: var(--twitter-color) !important;
    border: none !important;
    border-radius: 50px !important;
    height: 40px !important;
    color: white !important;
    font-weight: 900  !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
    margin-right: 20px;
    width: 20em !important;
    /* To get rid of the uppercase */
    text-transform: inherit !important;
}