.post-section{
    border-radius: 10px;
    margin: 10px;
}

.post_header{
    padding: 20px 10px 10px 10px;
    display: flex;
    align-items: center;

}
small{
   
    font-size: 15px;
   
}
.post_image{
    padding-top: 10px;

}
.post_image > img{

width: 100%;
margin-left: 0;
border-radius: 20px;
}

.post-footer{
    margin-left: 10px;
    margin-right: 10px;
    padding-top:5px ;
    display: flex;
    place-content: space-between;
}

.icon{
    cursor: pointer;

}
.icon:hover{
    color: var(--twitter-color);
}

.heart{
    cursor: pointer;
}

.heart:hover{
    color: red;
    
}


.avatar{
    width: 50px !important;
    height: 50px !important;
    /* font-size: 5em !important; */

}

h4{
    display: block;         
}

.display_name{
    font-size: 15px;
    display: block;
    margin: 0;
}
.tweet_message{
    display: block;
    
}
.tweet_header_section{
    padding-left: 10px;
}